/* line 1, ../sass/index.scss */
.json-output {
  display: block;
  margin-top: 3em;
}

/* line 9, ../sass/index.scss */
.magpie-title {
  margin-bottom: 1em;
}

/* line 13, ../sass/index.scss */
.display-url {
  margin-bottom: 2em;
}
